/* Universal */
* {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
} 
p {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #6c757d;
}
.r-p {
    padding-top: 80px;
    padding-bottom: 80px;
}
body{
    background-color: #28282B;
}
section{
    position: relative;
}
/* Header */
header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("Images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 15px 30px -15px #BCFD4C !important;
}
#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.content-box {
    max-width: 700px;
    color: #fff;
}
.content-box h6 {
    font-size: 20px;
    margin-left: 100px;
    margin-top: 300px;
}
.content-box h1 {
    font-size: 52px;
    margin-left: 80px;
}
.content-box a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 5px 25px;
}
.content-box p {
    color: #fff;
    margin-left: 120px;
}
.content-box a:hover {
    color: #000;
    background: #fff;
    transition: 0.5s all;
}

/* Intro & Journey */ 
.intro{
    position: relative;
    z-index: 0;
}
.intro img, .journey img{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
}
.intro-container, .journey-container, .awards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 5px 5px 18px #BCFD4C !important;
    border-radius: 20px;
}
.content, .journey-content{
    margin-left: 20px;
    padding: 10px;
}

/* Awards */
.awards img{
    max-width: 100%;
    max-height: 100%;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.awards-content{
    padding: 10px;
}

/* Footer */
footer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    height: 100px;
    width: 100%;
    color: #6c757d;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -15px 20px -15px #BCFD4C;
}